<!doctype html>
<meta charset="utf-8" />
<link rel="stylesheet" href="node_modules/normalize.css/normalize.css" />
<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="css/index.css" />
<script src="node_modules/angular/angular.js"></script>
<script src="index.js"></script>

<body ng-app="app" ng-controller="RootController as $ctrl">
  <x-data-streaming x-src="$ctrl.items" x-target="$ctrl.chunks">
    <div>
      <ul ng-repeat="line in $ctrl.chunks track by $index">
        <li ng-repeat="item in line">
          <header ng-bind="item.title"></header>
          <p>
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <span ng-bind="item.info"></span>
          </p>
          <p>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span ng-bind="item.duration + ' ms'"></span>
          </p>
          <svg ng-if="$index < line.length - 1" width="85" height="11" class="jtk-connector">
            <path d="M 9.5 0 L 50.5 0 M 50.5 0 L 21.5 0 M 22 0 L 82 0" transform="translate(0,5.5)" fill="none" stroke="#61B7CF" style="" stroke-width="2" />
            <path d="M82,0 L71,5.5 L75.147,0 L71,-5.5 L82,0" stroke="#61B7CF" fill="#61B7CF" transform="translate(0,5.5)" />
          </svg>
          <svg ng-if="$index === line.length - 1" width="73" height="101.5" class="jtk-connector">
            <path d="M 10.5 0 L 51.5 0 M 51 0 L 65 0 M65 0 A 5 5 0 0,1 70 5 M 70 5 L 70 88 M70 88 A 5 5 0 0,1 65 93 M 65 93 L 10 93 " transform="translate(0,3)" fill="none" stroke="#61B7CF" stroke-width="2"></path>
            <path d="M10,93 L21,87.5 L16.853,93 L21,98.5 L10,93" class="" stroke="#61B7CF" fill="#61B7CF" transform="translate(0,3)"></path>
          </svg>
        </li>
      </ul>
    </div>
  </x-data-streaming>
</body>
